body {
background-color: green;
}

#welcome {
color: #FFFFFF;
bottom: 0;
background: linear-gradient(green 0%, #10c02d 100%);
display: table;
width: 100%;
height: 100%;
z-index: 9;
}


h1 {
font-size: 40px;
font-family:Geneva;
font-weight: 300;
text-align:center;
}

.menu {

list-style: none;
font-family: serif;
position: fixed;
top: 0px;
margin-top: 0px;
z-index: 10;
cursor: pointer;
background-color: white;
width: 100%;
height: 50px;
padding-top: 25px;
}

.line {
height: 6px;
background-color: #000;
width: 70px;
margin: 8px auto;
}
#contact iframe
{
width: 100%;
}
.contact_1 h3
{
display: inline;
}
.contact_1 a
{
text-shadow: none;
}


#videos iframe
{
width: 80%;
}




#image{
border-style:solid;
border-color:black;
border: 1px;
border-radius:px;
padding:5px;
width:450px;
}


img {
width: 450;
border: 5px solid rgb(10, 0, 153);
display: block;
margin-left: auto;
margin-right: auto;
}
.column {
float: left;
width: 33.33%;
padding: 5px;

}


.row::after {
content: "";
clear: both;
display: table;

}

.row {
display: flex;

}

.column {
flex: 33.33%;
padding: 5px;
border-style:solid;
border-color:black;
border:1px;
border-radius:px;
padding:5px;
width:450px;
}

p {
font-size: 20px;
text-align: center;
}


a {
color: blue;
font-size: 20px;
}

a:visited {
color: purple;
}




